*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: inline-block;
}
body{
  background-color: rgb(95, 25, 25);
  text-align: center;
}
#app{
  background-color: rgb(255, 255, 255);
  max-width: 20%;
  height: 300px;
  margin: 100px auto;
 
}
h1{
  margin: 20px auto;
}
#calculate-button{
background-color: rgba(78, 0, 0, 0.705);
padding:10px auto;
box-shadow: none;

}
form > *{
margin: 5px 0;
}