body{
  box-sizing: border-box;
  color: #fff;
  background-color:rgb(49, 49, 49);
  text-align: center;
}
button{
background: none;
border: none;
box-shadow: none;
width: 30px;
height: 30px;
 background-repeat: no-repeat;
  background-size: 30px 30px;
}
#Change-Session-Length{
  display: flex;
  justify-content: center;
}
.decrease{
  background-image: url("assets/down.png");
 

}
.increase{
background-image: url("assets/up.png");
}
.play{
background-image: url("assets/play.png");

}
.stop{
background-image: url("assets/stop-and-reset.png");
}
.pause{
background-image: url("assets/pause.png");
}