
body{
  
  color: #fff;
  background-color:rgb(10, 84, 87);
  text-align: center;
  
  font-family:"Open Sans", sans-serif;

}
button{
background: none;
border: none;
box-shadow: none;
width: 30px;
height: 30px;
background-repeat: no-repeat;
background-size: 30px 30px;
margin: 20px;
}
#Change-Session-Length{
  display: flex;
  justify-content: center;
}
.decrease{
  background-image: url("assets/down.png");
 

}
.increase{
background-image: url("assets/up.png");
}
#session{
  border: solid 4px rgba(0, 0, 0, 0.363);
  border-radius: 50px;
  display: inline-block;
  padding: 0px 80px;
  margin: 20px;
}
.play{
background-image: url("assets/play.png");

}
.stop{
background-image: url("assets/stop-and-reset.png");
}
.pause{
background-image: url("assets/pause.png");
}